<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="avsUser" type="com.avs.adpass.services.security.UserDetailsImpl"*/-->
<div th:fragment="thankyou" class="validationBTN" style="float: left; margin-left: 10px;">Thank You</div>
<div th:fragment="thankyou" class="wallet" style="margin-left: 3px;margin-top:3px;float: left" th:text="${avsUser.userAccount.accountBalance}>Wallet: $4.96</div>

</body>
</html>